body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* backtoptop */

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: gray;
}

.js .cd-top--fade-out {
    opacity: .5;
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

.height {
    height: 3000px
}


/* backtoptop */

img {
    object-fit: contain;
}

header {
    font-family: cursive;
}

.navbar-expand-sm {
    box-sizing: content-box;
}

.navbar {
    background: #ffffff;
    padding: 30px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #222222;
}

.navbar ul li {
    margin: 0 30px;
}

.navbar .nav-item .active {
    border-bottom: black 2px solid;
}

.dropdown-menu {
    background: rgb(49, 41, 39, 0.9);
    border: none;
}

.dropdown-menu a {
    color: white;
}

.dropdown-menu a:hover {
    background: none;
    color: #e2c5a0;
}

.nav-item:hover .nav-link {
    border-bottom: black 2px solid;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.carousel-item {
    position: relative;
}


/*slide caption*/

.carousel-item .caption_slide1 {
    position: absolute;
    object-fit: contain;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.caption_slide1 .glass {
    /*padding-left:  200px;*/
    height: 550px !important;
}

.caption_slide1 .muiten {
    width: 70px !important;
    height: 70px;
    object-fit: contain;
    margin-top: 350px;
    margin-left: 50px;
}

.caption_slide1 .caption_content1 {
    padding-left: 200px;
    padding-top: 100px;
    font-size: 50px;
}

.caption_slide1 .caption_content1 h1 {
    font-size: 120px;
}

@font-face {
    font-family: myFirstFont;
    src: url(font/Pacifico-Regular.ttf);
}

.caption_slide1 div p {
    font-family: myFirstFont;
}

.caption_slide1 .caption_content1 .wheretobuy {
    padding-left: 200px;
    padding-top: 50px;
}

.caption_slide1 .caption_content1 .muiten1 {
    width: 70px !important;
    height: 70px;
    object-fit: contain;
    margin-left: 300px;
}

.caption_slide1 .caption_content1 a {
    margin-left: 200px;
    color: grey;
}

.caption_slide1 .caption_content1 a:hover {
    color: green;
}


/*slide caption*/


/*slide caption*/

.carousel-item .caption_slide2 {
    position: absolute;
    object-fit: contain;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

.carousel-item .caption_slide2 .glass {
    height: 550px !important;
}

.carousel-item .caption_slide2 p {
    font-family: myFirstFont;
    font-size: 80px;
}

.carousel-item .caption_slide2 p {
    font-size: 80px;
}

.carousel-item .caption_slide2 .muiten1 {
    width: 90px !important;
    height: 90px !important;
    object-fit: contain;
    margin-top: -250px;
}


/*slide caption*/


/*slide caption*/

.carousel-item .caption_slide3 {
    position: absolute;
    object-fit: contain;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.caption_slide3 .glass {
    /*padding-left:  200px;*/
    height: 600px !important;
    padding-top: 100px;
    padding-right: 100px;
    object-fit: contain;
}

.caption_slide3 .caption_content1 {
    padding-left: 200px;
    padding-top: 100px;
    font-size: 50px;
}

.caption_slide3 .caption_content1 h1 {
    font-size: 120px;
}

.caption_slide3 div p {
    font-family: myFirstFont;
}


/* slide_lineAuto */

@keyframes example {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.main_line {
    width: 100%;
    height: 2px;
    background: white;
}

.slide .line_auto {
    background: grey;
    width: 0.1%;
    height: 3px;
    animation: example 5s infinite;
}


/* slide_lineAuto */


/*slide caption*/

.carousel-inner img {
    height: 800px;
    width: 100% !important;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 50%;
}

.carousel-caption h1 {
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
}

.carousel-caption button {
    background: #808080;
}

.carousel-caption h3 {
    font-size: 200%;
    text-shadow: 2px 2px 10px #000;
}

.btn-primary {
    background-color: rgb(82, 64, 120);
    border: 1px solid white;
}

.btn-primary:hover {
    background-color: rgb(62, 44, 100);
    border: 1px solid white;
}


/* form sign up */

.sign_up {
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99998;
    overflow: auto;
    display: none;
    background-color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.signup_content {
    width: 40%;
    margin: 50px auto;
    background: #bbbbbb;
    padding: 20px;
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    padding: 20px 0;
    box-sizing: border-box;
}

.cancel,
.sign {
    width: 50%;
    float: left;
    padding: 10px;
    border: none;
}

.cancel {
    background: rgb(138, 138, 138);
}

.sign {
    background: rgb(255, 0, 0);
}

button:hover {
    opacity: 0.7;
}

.signup_content div {
    padding: 15px 0;
}


/* form sign up */


/* form input */

.formm {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    z-index: 99999;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formm button {
    background-color: orangered;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.formm button:hover {
    opacity: 0.8;
}

.close {
    position: absolute;
    right: 5px;
    top: -5px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: blue;
    cursor: pointer;
}

.form-content {
    position: relative;
    width: 40%;
    margin: 50px auto;
    background-color: #ccc;
    color: rgb(82, 82, 82);
    padding: 70px 50px;
}

.login a {
    color: rgba(0, 0, 0, .5);
}


/* animation */

.animate {
    animation: animatezoom 0.7s;
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* animation */

.form_ {
    padding-left: 70px;
    width: 100px;
    display: flex;
}

.form_ .login {
    padding: 0 20px;
}


/* RESERVATION */

.reservation {
    padding-top: 150px;
    text-align: center;
    padding-bottom: 150px;
}

.reservation .container h2 {
    color: #453e3c;
    letter-spacing: 0.2em;
    line-height: 70px;
}

.reservation .container p {
    color: #a6a19f;
}

.reservation .container button {
    line-height: 50px;
    padding: 0 15px;
}

.reservation .container button a {
    text-decoration: none;
    color: black;
}


/* RESERVATION */


/* experince */

.experience {
    width: 100% !important;
    position: relative;
    height: 1000px !important;
    background-image: url(img/cup_pen_notebook_141235_3840x2160.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.experience .contain {
    position: absolute;
    padding-left: 300px;
    padding-top: 200px;
}

.experience .contain img {
    /* height: 650px !important;
    width: 650px !important; */
    padding-left: 100px;
    object-fit: contain;
}

.experience .contain .text {
    /* padding-left: 500px; */
    float: right;
}

.experience .contain .text h4 {
    font-size: 100px;
    color: #453e3c;
    font-weight: 400 !important;
}

.experience .contain .text h2 {
    font-family: myFirstFont !important;
    font-weight: 400 !important;
    font-size: 50px !important;
    letter-spacing: 0 !important;
    color: #453e3c;
}

.experience .contain .text p {
    color: #453e3c;
    font-size: 15px;
}

.experience .contain .text a {
    font-size: 30px;
    color: #453e3c;
}

.experience .contain .text a:hover {
    color: green;
}

@media only screen and (max-width: 700px) {
    .experience {
        display: none;
    }
}


/* experince */


/* coffee_menu */

.coffee_menu {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px;
}

.coffee_menu .container h2 {
    color: #453e3c;
    letter-spacing: 0.2em;
    line-height: 70px;
}

.coffee_menu .container p {
    color: #a6a19f;
    font-size: 20px;
}

.coffee_menu .container button {
    line-height: 50px;
    padding: 0 15px;
}

.coffee_menu .container button a {
    text-decoration: none;
    color: black;
}


/* coffee_menu */


/* menu_view_main */

.menu_view {
    background-image: url("img/bg_04.jpg");
    background-position: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.menu_view .row {
    padding: 50px 30px;
}

.menu_view .row h3 a {
    text-decoration: none;
    font-family: myFirstFont;
    color: #453e3c;
}

.menu_view .row .col-md:hover a {
    color: green;
}

.menu_view .row .col-md a {
    position: relative;
}

.menu_view .row .col-md .img_hover {
    position: absolute;
    display: none;
    width: 50px;
    left: 200px;
    height: 50px;
    bottom: 150px;
}


/* menu_view_main */


/* slide2 */

.slide2 {
    position: relative;
}

.slide2 .carousel-item {
    background: #453e3c;
    width: 100%;
    height: 600px;
}

.slide2 .carousel-item .carousel-caption {
    display: flex;
    flex-flow: row;
    top: 10%;
}

.slide2 .carousel-item .carousel-caption .img_caption {
    flex: 30%;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.slide2 .carousel-item .carousel-caption .contain_caption {
    flex: 70%;
    text-align: center;
}

.slide2 .carousel-item .carousel-caption .contain_caption img {
    height: 25%;
    object-fit: contain;
}

.slide2 .carousel-item .carousel-caption .contain_caption h2 {
    font-size: 70px;
}

.slide2 .carousel-item .carousel-caption .contain_caption button {
    border: #ecb881 1PX solid;
    background: none;
    color: #ecb881;
}


/* slide2 */


/* sc_paralllac  */

.sc_parallac {
    background-image: url("img/bg_home_alter.jpg");
    position: relative;
    overflow: hidden;
    background-position: 50% -168px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
}

.sc_parallac img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    padding: 70px 0;
}


/* sc_paralllac  */


/* readmore */

.read_more {
    text-align: center;
    padding: 70px 0;
}

.read_more h2 {
    font-family: Droid Serif;
    color: #453e3c;
    letter-spacing: 0.2em;
    font-weight: 700;
    padding-bottom: 50px;
}

.read_more .info_back .post_cat a {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: #ecb881;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.read_more .info_back .post_cat a:hover {
    color: #808080;
}

.read_more .post_date {
    font-size: 13px;
    font-weight: 400;
    color: #a6a19f;
}

.read_more .info_back h4 a {
    color: black;
    text-decoration: none;
}

.read_more .info_back h4 a:hover {
    color: green;
}


/* readmore */


/* footer */

footer {
    background: rgb(31, 31, 31);
    text-align: center;
}

footer .container {
    padding: 50px 0;
}

footer .about_us {
    font-size: 18px;
    color: rgb(167, 167, 167);
    line-height: 1.4em;
    padding: 40px;
}

.address_left {
    width: 48%;
    text-align: right;
    float: left;
    color: white;
}

.address_right {
    width: 48%;
    text-align: left;
    float: right;
    color: white;
}

.social {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.social_item {
    padding: 20px;
    font-size: 30px;
}

.social_item a i {
    color: #808080;
}

.social_item a i:hover {
    color: #ecb881;
}

.copyright_text {
    color: darkgray;
}

.copyright_text a {
    text-decoration: none;
    color: white;
}


/* footer */


/* page_menu */

.top_panel_title_inner {
    background-image: url(img/bg_menu.png);
    background-position: center center;
    background-size: cover;
    background-color: #f0f0f0;
    text-align: center;
}

.content_wrap {
    width: 100%;
    margin: 0 auto;
}

.content_wrap .page_title {
    padding: 80px 0 10px 0;
    letter-spacing: 10px;
}

.top_panel_title_inner .breadcrumbs {
    padding-bottom: 80px;
    color: gray;
}

.top_panel_title_inner .breadcrumbs a {
    text-decoration: none;
    color: gray;
}

.top_panel_title_inner .breadcrumbs a:hover {
    color: green;
}

.menu_page_content {
    width: 100%;
}

.menu_page_content .container .menu_title {
    text-align: center;
    padding: 50px;
    font-family: cursive;
}

.menu_page_content .container .menu_title p {
    padding-top: 30px;
    color: #a6a19f;
}

.bt_menu {
    width: 50%;
    box-sizing: border-box;
}

.bt_menu .row {
    text-align: center;
}

.bt_menu .row .col button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px 0;
    font-size: 15px;
    font-family: cursive;
    font-weight: 400;
}

.bt_menu .row .col {
    margin: 0 20px;
}

.bt_menu .row .active {
    border: green 1.5px solid;
}

.bt_menu .row .col:hover {
    border: green 1.5px solid;
}

.bt_menu .row .col:hover button {
    color: green;
}


/* page_menu */